/*Estilos particulares para la página "home"*/
#homeMain {
    margin-right: 50px;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 50px auto auto;
    grid-template-areas: "Titulo Titulo"
                        "Parrafo1 Imagen"
                        "Parrafo2 Imagen";
    column-gap: 20px;
    align-items: center;

    .mainTitulo {
        grid-area: Titulo;
    }
}

#primerParrafoHome {
    grid-area: Parrafo1;
}

#segundoParrafoHome {
    grid-area: Parrafo2;
}

/*Contener donde se ubica la Imagen principal del Home*/
.homeMainImg {
    grid-area: Imagen;
}

/*Estilo a la imagen principal en Home*/
#imagenPresentacion {
    animation: fadeInFromBottom;
    animation-duration: 1.5s;
}

@keyframes fadeInFromBottom {
    from {transform: translateY(50%);
            opacity: 0%;}
}


/*Media Query para tablets y móviles en horizontal*/
@media screen and (max-width: 992px) {
    #homeMain {
        grid-template-columns: 60% 40%;
        grid-template-areas: "Titulo Titulo"
                            "Parrafo1 Imagen"
                            "Parrafo2 Parrafo2";
    }
}


/*Media Query para dispositivos móviles*/
@media screen and (max-width: 600px) {
    #homeMain {
        display: flex;
        flex-direction: column;
        margin: 0px 5%;
        align-self: center;

        .mainTitulo {
            margin-left: 0px;
        }

        .homeMainText {
            order: 2;
        }
    }
}